/*BOF - STICKY FOOTER*/
html, body {height: 100%; margin: 0; padding: 0; }
#wrap {min-height: 100%;}
#page {overflow:auto; padding-bottom: 60px;padding-top: 60px;}  /* must be same height as the footer */
#footer {position: relative; margin-top: -42px; background-color: green;/* negative value of footer height */ height: 20px; min-height: 20px !important; clear:both;padding: 10px 0; min-width: 1020px;} 
/*Opera Fix*/
body:before { content:""; height:100%; float:left; width:0; margin-top:-32767px; }
/*EOF - STICKY FOOTER*/

/*BOF - COMMON*/
.container { width: 980px; padding: 0 20px; }
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 980px; }
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin-left: 0; margin-right: 0; min-width: 1020px; }
.clear:after { content: ""; display: table; line-height: 0; clear: both; }
/*EOF - COMMON*/

/*BOF - FOOTER*/
#footer span.copyright { float: right; }
/*EOF - FOOTER*/

/*BOF - LOGIN*/
div.login-block { width: 500px; margin: 160px auto; border: 1px solid rgba(0, 0, 0, 0.15); 
    border-radius: 4px 4px 4px 4px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176); }
div.login-block h1 { margin: 25px 0; text-align: center; }
div.login-block form, div.login-block div.form-actions { margin-bottom: 0; }
/*EOF - LOGIN*/

/*BOF - PANEL*/
div.panel { max-width: 560px; margin: 0 auto; }
div.panel div.panel-item { float: left; text-align: center; width: 160px; border: 1px solid #D4D4D4; padding: 5px; margin: 0 20px 30px 0; }
div.panel div.panel-item.last { margin-right: 0; }
div.panel div.panel-item img { display: inline-block; margin: 15px 0;  }
/*EOF - PANEL*/

/*BOF - upload images*/
.qq-upload-button, .qq-upload-drop-area, #uploadFile { display: none; }
.qq-upload-success { color: green; }
div.upload-images { margin: 10px 0; }
div.upload-area { margin: 15px 0; }
div.upload-area ul { margin: 0; padding: 0; list-style: none; }
div.upload-area ul li { display: block; float: left; text-align: center; margin: 0 10px 10px 0; }
div.upload-area ul li img { margin-bottom: 10px; }
/*EOF - upload images*/

/*BOF - CONFIG*/
table.table-config input,table.table-config textarea { margin: 0; width: 75%; }
/*EOF - CONFIG*/