/* 
    Document   : pagination
    Created on : Jul 31, 2013, 4:17:43 PM
    Author     : hakk
*/
ul.yiiPager { list-style: none; padding: 0; margin: 0; }
ul.yiiPager li { display: block; float: left; height: 26px; margin: 0 7px; }
ul.yiiPager li.first, ul.yiiPager li.last { display: none; }
ul.yiiPager li.previous { margin-left: 0; }
ul.yiiPager li.next { margin-right: 0; }
ul.yiiPager li.hidden { display: none; }
ul.yiiPager li.previous a, ul.yiiPager li.next a { display: block; width: 24px; height: 26px; background: url('../images/slider-nav.png') no-repeat 0 0 transparent; }
ul.yiiPager li.previous:hover a { background-position: 0 -26px; }
ul.yiiPager li.previous:active a { background-position: 0 -52px; }
ul.yiiPager li.next a { background-position: -24px 0; }
ul.yiiPager li.next:hover a { background-position: -24px -26px; }
ul.yiiPager li.next:active a { background-position: -24px -52px; }
ul.yiiPager li.page a { font-family: HelveticaNeueCyrRoman; font-size: 13px; color: #4c4c4c; text-decoration: underline;
    width: 24px; padding-top: 2px; height: 24px; display: inline-block; text-align: center; }
ul.yiiPager li.page.selected a { height: 22px; margin-top: 1px; background: url('../images/pagination-selected.png') no-repeat 0 0 transparent; text-decoration: none; }
ul.yiiPager li.separator { padding-top: 3px; height: 23px; }
