/*BOF - STICKY FOOTER*/
html, body {height: 100%; margin: 0; min-width: 980px;}
#wrap {min-height: 100%;}
#main {overflow:auto; padding-bottom: 100px;}
#footer {position: relative; margin-top: -100px; height: 100px; clear:both;} 
body:before { content:""; height:100%; float:left; width:0; margin-top:-32767px; }
/*EOF - STICKY FOOTER*/

/*BOF - COMMON*/
body { margin: 0; font-family: arial; font-size: 13px; color: #4b4b4b; 
       line-height: 20px; background-color: #EBEBEB; }
a, a:visited { color: #4b4b4b; text-decoration: none; }
a:focus, img { border: none; }
.container:before,  .container:after, .clear:after { content: "";
    display: table; line-height: 0; }
.container:after,  .clear:after { clear: both; }
.container { width: 940px; padding: 0 20px; margin-left: auto; margin-right: auto; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.block-margin { margin-top: 30px; margin-bottom: 30px; }
/*EOF - COMMON*/

/*BOF - TMP*/
#wrap { background-color: #B7D6E7; }
#header { background-color: #49afcd; }
#main { background-color: #80CFFF; }
#footer { background-color: #46a546 }
/*EOF - TMP*/